@@page "/@(Model.DomainVar)"
@@using System.Net.Http;
@@using Microsoft.Extensions.DependencyInjection;
@@using System.Reflection;
@@inject HttpClient Http
@@inject IHttpClientFactory ClientFactory
@@inject NavigationManager Navigation
@@rendermode @@(new InteractiveWebAssemblyRenderMode(prerender: false))
@using jumpstart;
@using System.Collections.Generic;


<PageTitle>@(Model.Label)</PageTitle>

<h1>@(Model.Label)</h1>

<p>This component demonstrates fetching @(Model.Label) data from the server.</p>

@@if (@(Model.DomainVar)List == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                @@foreach (var property in GetDisplayProperties())
                {
                    <th>@@GetPropertyLabel(property)</th>
                }
                <th></th>
            </tr>
        </thead>
        <tbody>
            @@foreach (var @(Model.DomainVar) in @(Model.DomainVar)List)
            {
                <tr>
                    @@foreach (var property in GetDisplayProperties())
                    {
                        <td>@@GetPropertyValue(@(Model.DomainVar), property)?.ToString()</td>
                    }
                    <td><button class="btn btn-primary" @@onclick="@@(()=> Edit@(Model.DomainObj)(@@@(Model.DomainVar).id))">Edit</button></td>
                </tr>
            }
        </tbody>
    </table>
    <td><button class="btn btn-primary" @@onclick="@@(()=> Add@(Model.DomainObj)())">Add</button></td>
}

@@code {
    protected  @(Model.DomainObj)View[]? @(Model.DomainVar)List;

    protected override async Task OnInitializedAsync()
    {
        var remoteClient = ClientFactory.CreateClient("RemoteAPI");

        @(Model.DomainVar)List = await remoteClient.GetFromJsonAsync<@(Model.DomainObj)View[]>("api/@(Model.DomainVar)");
    }

    void Add@(Model.DomainObj)()
    {
        
        Navigation.NavigateTo("edit-@(Model.DomainVar)");
    }

    void Edit@(Model.DomainObj)(long id)
    {
        Navigation.NavigateTo($"edit-@(Model.DomainVar)/{id}");
    }

    // Helper methods using ReflectionHelper
    private System.Reflection.PropertyInfo[] GetDisplayProperties()
    {
        return ReflectionHelper.GetDisplayProperties<@(Model.DomainObj)View>();
    }

    private string GetPropertyLabel(System.Reflection.PropertyInfo property)
    {
        return ReflectionHelper.GetPropertyLabel(property);
    }

    private object GetPropertyValue(object obj, System.Reflection.PropertyInfo property)
    {
        return ReflectionHelper.GetPropertyValue(obj, property);
    }



   
}
