@@page "/org"
@@using System.Net.Http;
@@using Microsoft.Extensions.DependencyInjection;
@@inject HttpClient Http
@@inject IHttpClientFactory ClientFactory
@@inject NavigationManager Navigation
@@rendermode @@(new InteractiveWebAssemblyRenderMode(prerender: false))
<PageTitle>@(Model.Title)</PageTitle>

<h1>@(Model.Title)</h1>

<p>This component demonstrates fetching org data from the server.</p>

@@if (@(Model.DomainVar)List == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                @foreach( var a in @Model.Attributes)
                {
                <text>
                <th>@a.Label</th>
                </text>
            
                }

                <th></th>
            </tr>
        </thead>
        <tbody>
            @@foreach (var @(Model.DomainVar) in @(Model.DomainVar)List)
            {
                <tr>
                    @foreach( var a in @Model.Attributes)
                    {
                    <text>
                    <td>@@@(Model.DomainVar).@(a.Name).ToString()</td>
                    </text>
                    
                    }
                    <td><button class="btn btn-primary" @@onclick="@@(()=> Edit@(Model.DomainObj)(@@@(Model.DomainVar).id))">Edit</button></td>
                </tr>
            }
        </tbody>
    </table>
    <td><button class="btn btn-primary" @@onclick="@@(()=> Add@(Model.DomainObj)())">Add</button></td>
}

@@code {
    
   
}
